%html
  %head
    %link(rel="icon" href="/img/favicon.ico" type="image/x-icon")
    %link(rel="stylesheet" href="/css/main.css")
  %body
    #react-container
    %script(src="/js/bundle.js" type="text/javascript")
